body {
	font-family: 'Chakra Petch', sans-serif;
}
#canvasOne {
	background-color: transparent !important;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100% !important;
	z-index: 100;
}
.stars, .twinkling, .clouds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
}
.stars {
    background: #000 url(../img/stars.png) repeat top center;
    z-index: 0;
}
.twinkling {
    background: transparent url(../img/twinkling.png) repeat top center;
    z-index: 1;

    -moz-animation: move-twink-back 200s linear infinite;
    -ms-animation: move-twink-back 200s linear infinite;
    -o-animation: move-twink-back 200s linear infinite;
    -webkit-animation: move-twink-back 200s linear infinite;
    animation: move-twink-back 200s linear infinite;
}
#navbar {
	background-color: rgba(0,0,0,0.5);
	border-color: #333;
	border-radius: 0px;
	z-index: 200;
}
#navbar .navbar-nav>li>a {
	color: #FFF;
	transition: all ease-in-out 0.13s;
	-moz-transition: all ease-in-out 0.13s;
	-o-transition: all ease-in-out 0.13s;
	-webkit-transition: all ease-in-out 0.13s;
}
#navbar .navbar-nav>li>a:hover {
	text-shadow: 0 0 20px #FFF,0 0 20px #FFF;
}
.navbar-toggled {
	color: #f39c12 !important;
	text-shadow: 0 0 20px #FFF,0 0 20px #FFF;	
}